body {
  background: url("https://raw.githubusercontent.com/Maximebdb/profil/master/image/fond flou.jpg") no-repeat right center fixed;
  background-size: cover;
  background-color: rgb(179,180,181);
  font-family: 'Roboto', Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color: rgb(255,255,255);
  font-size: 32px;
  font-weight: 300;
  line-height: 50%;
}

h2 {
  color: rgb(15,26,29);
  font-size: 24px;
  font-weight: 300;
}

p {
  color: rgb(68,82,99);
  font-size: 18px;
  font-weight: 100;
}

td {
  padding: 10px;
}

a {
  font-size: 32px;
  margin: 20px;
}

i:hover {
  color: rgb(255,66,87);
}

a:link {
  color: rgb(179,180,181);
}

a:active {
  color: rgb(179,180,181);
}

a:visited {
  color: rgb(179,180,181);
}

.container {
  width: 45%;
  margin: 0 auto;
}

#presentation {
  width: 100%;
  background-image: url("https://raw.githubusercontent.com/Maximebdb/profil/master/image/cover46opacity.png");
  background-size: cover;
  border-radius:10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 20px;
  margin-top: 50px;
  padding: 5px;
}

.bloc {
  width: 100%;
  background-color: rgb(255,255,255);
  border-radius:10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 5px;
}

.link {
  margin: 20px;
}

#cover {
  height: auto;
  width: 100%;
  border-radius:10px;
  margin: -5px;
}

#profil_picture {
  height: auto;
  width: 20%;
  border-radius:50%;
  margin: 10px;
  margin-top: -40px;
  border: 2px solid rgba(255,255,255,0.9);
}

.photo_portrait {
  border-radius:50%;
  height: auto;
  width: 70%;
}

.auteur {
  text-align: right;
  color: rgb(129,147,178);
  font-size: 14px;
}

#foot {
  width: 100%;
  min-height: 300px;
  background-image: url("https://raw.githubusercontent.com/Maximebdb/profil/master/image/foot.png");
  background-size: cover;
  border-radius:10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 5px;
}


